[submodule "install/Adafruit_Python_BMP"]
	path = install/Adafruit_Python_BMP
	url = https://github.com/adafruit/Adafruit_Python_BMP.git
	branch = master
[submodule "install/Adafruit_Python_LED_Backpack"]
	path = install/Adafruit_Python_LED_Backpack
	url = https://github.com/adafruit/Adafruit_Python_LED_Backpack.git
	branch = master
[submodule "install/python3-phant"]
	path = install/python3-phant
	url = https://github.com/idcrook/python3-phant.git
	branch = master
