
<!-- google API loader in _includes/head/custom.html -->
<script>

 function creata_drawChart(dataQueryStr, divElemName) {

   // Phant Stream public key
   var public_key = '0Q0zv04xKJCyjL1XQkD6TYDG40x';

   // .csv files are smaller than equivalent .json
   var csvUrl  = 'https://data.crookster.org/output/' + public_key + '.csv' + dataQueryStr;
   // console.log(csvUrl);

   var aDrawChart = function drawVisualization() {

     var data = new google.visualization.DataTable();
     data.addColumn('datetime', 'Time');
     data.addColumn('number', 'Temperature (°C)');

     // add two dummy "empty" rows so we can draw a blank chart to begin
     data.addRow([
       new Date(Date.now()-1),
       parseFloat("0.0"),
     ]);
     data.addRow([
       new Date(Date.now()),
       parseFloat("0.0"),
     ]);
     // console.log(data);

     // classic options are associated with the LineChart chart type
     var classicChartOptions = {

       title: 'rpif1 Model 4 B',
       // titlePosition: 'in',
       titleTextStyle : {color: 'grey', fontSize: 16},

       chartArea:{left:'5%',top:'15%',width:'90%',height:'70%'},

       //curveType: 'function',

       // lineWidth: 0, pointSize: 2,

       legend: {
         /* position: 'in',
          * position: 'bottom', */
         position: 'top',
         alignment: 'start',
         /* alignment: 'end', */
         /* alignment: 'center', */
       },
       dataOpacity: 0.6,

       width: 900,
       height: 500,
       series: {
         // Gives each series an axis name that matches the Y-axis below.
         0: {color: '#c51a4a', targetAxisIndex: 0},
       },
       hAxis: {
         title: 'Time',
       },

       vAxes: {
         // Adds titles to each axis
         0: {title: 'Temp (°C)'},
       },
       explorer: {
         actions: ['dragToZoom', 'rightClickToReset'],
         axis: 'horizontal',
       },

     };

     var wrapper = new google.visualization.ChartWrapper({
       chartType: 'LineChart',
       containerId: divElemName,
       dataTable: data,
       options: classicChartOptions
     });

     function onFirstReadyChartWrapper() {
       var chart = wrapper.getChart();
       //console.log(chart);
       var chartSerialized = chart.getImageURI();
       //console.log(chartSerialized);
       document.getElementById('save_png').outerHTML = '<a href="' + chartSerialized + '">Download .png</a><span> ("Save Link As")</span>';
     };

     $.ajax({
       type: "GET",
       url: csvUrl,
       dataType: "text",
       cached: true,
       success: function(csvString) {
         // console.log(csvString);

         // transform the CSV string into array of objects
         var objectData = $.csv.toObjects(csvString, {onParseValue: $.csv.hooks.castToScalar});
         // console.log(objectData)

         $.each(objectData, function (i, row) {
           data.addRow([
             (new Date(row.timestamp)),
             parseFloat(row.temp_c),
           ]);
         });

         // delete the first two dummy rows
         data.removeRows(0,2);
         console.log(data);

         google.visualization.events.addOneTimeListener(wrapper, 'ready', onFirstReadyChartWrapper);

         // "redraw" with our fetched data (the DataTable has been updated)
         wrapper.draw();

       }});

     wrapper.draw();

   };

   return aDrawChart;
 }

</script>
