{
  "i2c_addresses":
  {
    "bmp085": "0x77",
    "i2c_led": "0x70"
  },
  "darksky":
  {
    "secret-key": "abcd",
    "lat":  45.0000,
    "lng": -100.0000
  },
  "timetemp_nest":
  {
    "client_id": "d-e-4f-i",
    "client_secret": "yturkd7"
  }
}
